.Rproj.user
.Rhistory
.RData
.DS_Store
README.html
*.Rcheck/
*.tar.gz
docs/
.rscignore
tags
inst/doc
inst/resources/__pycache__/
tests/**/*.quarto_ipynb

# license files should not be commited to this repository
*.lic
