export(accountInfo)
export(accounts)
export(appDependencies)
export(applications)
export(configureApp)
export(deployApp)
export(removeAccount)
export(scaleApp)
export(setAccountInfo)
export(terminateApp)
